DEV_SECRET=REPLACE_WITH_DEV_SECRET
TEST_SECRET=REPLACE_WITH_TEST_SECRET
PERF_SECRET=REPLACE_WITH_PERF_SECRET
PREPROD_SECRET=REPLACE_WITH_PREPROD_SECRET
PROD_SECRET=REPLACE_WITH_PREPROD_SECRET_OR_PROD_SECRET
