PERF_SECRET=REPLACE_WITH_PERF_SECRET
PERF_BEARER_TOKEN=REPLACE_WITH_SHORT_LIVED_PERF_BEARER_TOKEN
CLIENT_SECRET=REPLACE_WITH_CLIENT_SECRET_IF_CDP_INJECTS_THIS_NAME
COGNITO_CLIENT_ID=OPTIONAL_OVERRIDE_CLIENT_ID
COGNITO_CLIENT_SECRET=OPTIONAL_OVERRIDE_CLIENT_SECRET
COGNITO_DOMAIN=OPTIONAL_OVERRIDE_COGNITO_DOMAIN
AUTH_DEBUG=false
